<!doctype html>
<html>
<head>
	<title>VideoStreamingPlatform</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body ng-app="streamApp">

	<div class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
		<div class="container">
			<div class="row">


				<div class="col-xs-3 bg-warning">
					<div class="center-children">
						<a class="navbar-brand" id="nav-icon" href="#">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</a>
					</div>
				</div>

				<div class="col-xs-9 col-sm-6 col-sm-offset-3 bg-info">
					<div class="center-children">
						<div class="input-group center-me">
							<input type="text" class="form-control" placeholder="Search" name="search" ng-model="search.text">
							<div class="input-group-btn">
								<a href="#/streams/search/{{search.text}}">
									<button class="btn btn-default">
										<!-- onClick="location.href='#/streams/search/{{search.text}}';" -->
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

	<div class="navbar navbar-default navbar-static-top" id="sub-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 bg-warning">
					<div class="center-children">
						<a href="#"><h2>Popular</h2></a>
					</div>
				</div>
				<div class="col-xs-3 bg-info">
					<div class="center-children">
						<a href="#"><h2>Football</h2></a>
					</div>
				</div>
				<div class="col-xs-3 bg-danger">
					<div class="center-children">
						<a href="#"><h2>Basketball</h2></a>
					</div>
				</div>
				<div class="col-xs-3 bg-info">
					<div class="center-children">
						<a href="#"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Main content and Injected Views -->
	<main ng-controller="mainController">
		<!-- angular templating -->
		<!-- content views will be injected -->
		<div class="ng-view"></div>

	</main>

	<!-- Modules -->
	<!-- Handle routes -->
	<script type="text/javascript" src="javascripts/app.js"></script>
	<!-- Controllers -->
	<!-- Handle the data between the api requests and application views -->
	<script type="text/javascript" src="javascripts/controllers/mainController.js"></script>
	<script type="text/javascript" src="javascripts/controllers/getStreamController.js"></script>
	<script type="text/javascript" src="javascripts/controllers/searchController.js"></script>
	<script type="text/javascript" src="javascripts/controllers/catagoryController.js"></script>
	<!-- Services -->
	<!-- Make the request to the server -->
	<script type="text/javascript" src="javascripts/services/queryAPI.js"></script>
</body>
</html>
