<!doctype html>
<html>
<head>
	<title>VideoStreamingPlatform</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">

		<div class="row">
			<div class="col-xs-3 bg-warning">
				<div class="center-block">
					<a class="navbar-brand" href="#">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</a>
				</div>
			</div>
			<div class="col-xs-9 bg-info">
				<div class="center-block">
					
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>

	<div class="navbar navbar-default navbar-static-top" role="navigation" id="sub-nav">
		<div class="row">
			<div class="col-xs-3 bg-warning">
				<div class="center-block">
					<a href="#"><h2>Football</h2></a>
				</div>
			</div>
			<div class="col-xs-3 bg-info">
				<div class="center-block">
					<a href="#"><h2>Football</h2></a>
				</div>
			</div>
			<div class="col-xs-3 bg-danger">
				<div class="center-block">
					<a href="#"><h2>Football</h2></a>
				</div>
			</div>
			<div class="col-xs-3 bg-warning">
				<div class="center-block">
					<a href="#"><h2>Football</h2></a>
				</div>
			</div>
		</div>
	</div>







	<div class="row">
		<div class="col-xs-12">
			<h3>Container grid</h3>
		</div>
	</div>
	<div class="container">
			<div class="col-xs-3 bg-warning">
				3
			</div>
			<div class="col-xs-6 bg-info">
				6
			</div>
			<div class="col-xs-3 bg-danger">
				3
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3>Navbar Grid</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3>Navbar ul</h3>
		</div>
	</div>

	<nav class="navbar navbar-default" role="navigation">
    	<div class="container-fluid">
		    <ul class="nav navbar-nav">
				<div class="row">
  					<li class="col-xs-3">
						<a class="navbar-brand" href="#">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</a>
  					</li>
  					<li class="col-xs-6">
						<form class="navbar-form" role="search">
					        <div class="form-group">
					        	<input type="text" class="form-control" placeholder="Search">
					        </div>
					     </form>
  					</li>
  					<li class="col-xs-3">
						<a class="navbar-brand" href="#">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</a>
  					</li>
				</div>
		    </ul>
		</div>
	</nav>
</body>
</html>
