<!doctype html>
<html>
<head>
	<title>Social Authentication</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
	<div class="row">
		<div class="col-xs-12">
			<h2>Container grid</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 bg-warning">
				3
			</div>
			<div class="col-xs-6 bg-info">
				6
			</div>
			<div class="col-xs-3 bg-danger">
				3
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>Navbar Grid</h2>
		</div>
	</div>

	<div class="navbar navbar-default">
		<div class="row">
			<div class="col-xs-3 bg-warning">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</div>
			<div class="col-xs-6 bg-info">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<div class="col-xs-3 bg-danger">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>Navbar ul</h2>
		</div>
	</div>

	<nav class="navbar navbar-default" role="navigation">
    	<div class="container-fluid">
		    <ul class="nav navbar-nav">
				<div class="row">
  					<li class="col-xs-3">
  						<a href="#">
  							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  						</a>
  					</li>
  					<li class="col-xs-6">
  					    <input type="text" class="form-control" placeholder="Search">
  					</li>
  					<li class="col-xs-3">
  						<a href="#">
  							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  						</a>
  					</li>
				</div>
		    </ul>
		</div>
	</nav>
</body>
</html>
