<div class="search">
	<div class="container">
		<h2>{{}}</h2>

		<div class="col-xs-12">
			<div class="embed-responsive embed-responsive-16by9" id="video-stream">
				<video class="embed-responsive-item" controls>
					<source src="http://www.webestools.com/page/media/videoTag/BigBuckBunny.ogg" type="video/ogg">
					<source src="http://www.webestools.com/page/media/videoTag/BigBuckBunny.mp4" type="video/mp4">
					<source src="http://www.webestools.com/page/media/videoTag/BigBuckBunny.webm" type="video/webm">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>

		<div class="input-group">
			<input type="text" class="form-control" placeholder="www.videolink/dlkj89Kl">
		  	<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
				</button>
		  	</span>
		</div>

	</div>
</div>
