<div class="display-streams">
	<div class="container">
		<!-- Use lengend -->
		<h2>Search</h2>
		<table class="table table-hover">
			<tbody>
					<tr ng-repeat="stream in streams">
						<td><a href="#/streams/{{stream.sessionId}}">{{ stream.name }}</a></td>
					</tr>
			</tbody>
		</table>
	</div>
</div>
