<div class="display">
	<div class="container">
		<!-- Use lengend -->
		<h1>All Streams</h1>
		<table class="table table-hover">
			<tbody>
				<tr>
					<th class="col-xs-9">Name</th>
					<th class="col-xs-3">Category</th>
				</tr>
				<tr ng-repeat="stream in streams">
					<td><a href="#/streams/{{stream.sessionId}}">{{ stream.name }}</a></td>
					<td>{{ stream.category }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
