body {
    padding-top: 60px;
}

.center-children {
    text-align: center;
}

.center-me {
    margin: 0 auto;
}

/*  NAVBARS */
/* Main-Nav*/
/* Position elements in div*/
#main-nav {
    height: 60px;
    line-height: 35px;
    padding-top: 13px;
    background-color: #2D3E50;

    /*background-color: #34495e;*/
    border-style: none;
}

#nav-icon {
    float: none;
}

#nav-icon .glyphicon{
    font-size: 17px;
    top: 5px;
    color: #FBFBFB;
}

#main-nav .input-group {
    padding: 0px 10px;
    max-width: 400px;
}

.glyphicon-search{
    color: #2D3E50;
}

/* Sub-Nav*/
/* Set text size*/
#sub-nav h2, .glyphicon{
    font-size: 15px;
}

#sub-nav {
    min-height: 47px;
    background-color: #ecf0f1;
    /*background-color: #DC7563;*/
    /*background-color: #FC4349;*/
}

#sub-nav a{
    text-decoration: none;
    color: #2980b9;
    /*color: #D7DADB;*/
    /*color: #FBFBFB;*/
}

#sub-nav .element{
    /*border-bottom: 3px solid #2980b9;*/
}

#sub-nav .glyphicon{
    line-height: 46px;
    top: 3px;
}

/*  NAVBARS END */

/*  MAIN CONTAINER */
#video-stream {
    margin-bottom: 20px;
}

.display h1{
    color: #2D3E50;
    font-size: 2em;
}

.display table{
    margin-top: 30px;
    color: #2D3E50;
}

.display form{
    margin-top: 30px;
}

/*  MAIN CONTAINER END */


/* Small devices (tablets, 768px and up) */
@media (max-width: 380px) {
    /*  NAVBARS */
    #sub-nav {
        min-height: 44px;
    }

    #sub-nav h2, .glyphicon {
        font-size: 12px;
    }

    #sub-nav .glyphicon{
        line-height: 43px;
        top: 3px;
    }
    /*  NAVBARS END */


}


/* Small to medium devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    /*  NAVBARS */
    .input-group {
        max-width: 420px;
    }
    /*  NAVBARS END */
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
