body {
    padding-top: 60px;
}



/*  NAVBARS */

/* May have to specify height of a div*/

/* Position elements in div*/
.center-children {
    text-align: center;

}

.center-me {
    margin: 0 auto;
}

#main-nav {
    height: 65px;
    line-height: 35px;
    padding-top: 15px;
}

#nav-icon {
    float: none;
}

#nav-icon .glyphicon{
    top: 5px;
}

#main-nav .input-group {
    padding: 0px 10px;
    max-width: 400px;
}

/* Sub-Nav*/
/* Set text size*/
#sub-nav h2, .glyphicon{
    font-size: 15px;
}

#sub-nav {
    min-height: 47px;
}

#sub-nav .glyphicon{
    line-height: 46px;
    top: 3px;
}


/*  MAIN CONTAINER */


/* Small devices (tablets, 768px and up) */
@media (max-width: 380px) {
    /* Navbar */
    #sub-nav {
        min-height: 44px;
    }

    #sub-nav h2, .glyphicon {
        font-size: 12px;
    }

    #sub-nav .glyphicon{
        line-height: 43px;
        top: 3px;
    }
}


/* Small to medium devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    /* Navbar */
    .input-group {
        max-width: 420px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
